.userInstance{
    height: 80px;
    padding-top: 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-items: center;
}
.userInstance:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
  }

.userInstance .sideBar-avatar{
    padding: 10px;
    width: 25%;
}
.userInstance .sideBar-avatar .avatar-icon img {
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
    width: 80%;
    
  }
  .userInstance .sideBar-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top: 10px;
  }

.userInstance .sideBar-main .sideBar-name {
    padding: 10px;
    width: 35%;
  }
  
.userInstance .sideBar-main .sideBar-name .name-meta {

    font-size: 100%;
    text-align: left;
    color: #000;
  }

.userInstance .sideBar-main .sideBar-time{
    padding: 10px;
    width: 35%;
    text-align: right;
}
  .userInstance .sideBar-main .sideBar-time .time-meta{
    color: #000;
  }