.users-page{
    background-color: #fff;
    width: 35%;
}
.users-page .heading{
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    display: grid;
    grid-template-columns: 30%  50% 20%;
}
  
.users-page .heading .heading-avatar {
    padding: 0;
  }
  
.users-page .heading .heading-avatar .heading-avatar-icon img {
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

.users-page .heading .user-info h4{
  text-align: left;
  margin-top: 10px;
  font-size: 1rem;
}

.users-page .heading .back-button button{
    width: 100%;
    height: 100%;
}
.users-page .heading .back-button svg{
  height: 100%;
  width: 100%;
  color: rgb(146, 158, 145);
}
.users-page .searchBox {
    height: 60px;
    width: 100%;
  }
  .users-page .searchBox-input{
    height: 90%;
    width: 100%;
    padding: 10px;
  }
  .users-page .searchBox-input input{
    height: 100%;
    width: 95%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #b8b4b4;
    border-radius: 5px;
  }

.user-list{
    padding: 20px;
    color: #000;
    height: 80%;
    overflow-y: scroll !important;
}
